@import '../variables';

.contact-form {
    background-color: #fff;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 36em;
    

    font-size: 1em;

  
    @media (max-width: 320px) {
        font-size: .7em;
    }

    .contact-form__body {
        padding: 0 4em;
        width: 100%;
        background-color: #fff;

        @media (max-width: 640px) {
            padding: 0 1em;
        }
    }

    .contact-form_phone-number {
        color: #fff;
        padding-top: .4em;
        padding-bottom: .4em;
        text-align: center;
        width: 100%;
        font-size: .9em;
        background-color: #d94d00;
        

        a {
            color: inherit;
        }
    }

    fieldset {
        width: 100%;
    }


    input, textarea, select, button {
        // reset
        padding: 0;
        margin: 0;
        border: 0;
        border: none;
        resize: none;
        font-size: 1em;
        border: 1px solid #aaa;
    }

    input, textarea, button {
        -webkit-appearance: none;
    }

    input, textarea {
        padding: .5em;
        width: 100%;
        max-width: 28em;
        font-family: inherit;
        
        &:focus {
            outline: 3px solid #d94d00;
        }
    }

    textarea {
        // width: 28em;
        height: 10em;

        @media (max-height: 1000px) {
            height: 8em;
        }

        @media (max-height: 900px) {
            height: 4em;
        }

        @media (max-width: 400px) {
            height: 4em;
        }
    }

    label {
        display: block;
        padding: 1em 0;
        text-align: left;
        color: #000;

     
        @media (max-width: 400px) {
            padding: .6em 0;
        }

        // @media (max-height: 600px) {
        //     padding: .6em 0;
        // }

        @media (max-height: 700px) {
            padding: .4em 0;
        }


    }

    input[type="text"] {
        -webkit-appearance: none;
    }

    .contact-form-follow-up {
        label:not(.section-label) {
            display: flex;
            padding: 0;
            // padding-left: .6em;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        margin: 0 .6em;
        background-color: #ddd;
        color: #666;
        // top: 10px;
        height: 1.4em;
        width: 100%;
        max-width: 1.4em;
        // border: 0;
        cursor: pointer;     
        // margin-right: 7px;
        outline: none;
        margin-left: 0;
        transition: background-color 150ms ease-in-out;

        &:checked
        {
            // position: absolute;
            // left: 10px;
            // top: 5px;
            // content: 'X';
            background-color: $color-primary-orange;
        }

        @media (max-width: 400px) {
            height: 1em;
            max-width: 1em;
            font-size: .8em;
            margin-top: .2em;
        }
        @media (max-height: 700px) {
            height: 1em;
            max-width: 1em;
            font-size: .8em;
            margin-top: .2em;
        }
    }

    input[type="radio"] + label {
        display: inline-block;
        padding: .4em 0;
    }

    button {
        margin: 1em 0;
        padding: .6em 2em;
        align-self: center;
        cursor: pointer;
        font-family: 'Montserrat', 'Gotham SSm B'; 

        &.fill-in-effect-orange {
            background-color: rgba(0,0,0,0);
            position: relative;
            color: #000;
            transition: transform 250ms ease-in-out, opacity 500ms ease, background-color 500ms ease, color 500ms ease; 

            &:after {
                content: 'SUBMIT';
                color: #fff;
                box-shadow: 0 0 0 2px #d94d00;
                background: #d94d00;
                border: 0;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                // transform: scale(1.1);
                opacity: 0;
                transition: transform 250ms ease-in-out, opacity 500ms ease, background-color 500ms ease, color 500ms ease; 
            }


            &:hover {
                // background: #d94d00;
                color: #fff;
                border-color: rgba(0,0,0,0);
                background: #d94d00;


                &:after {
                    opacity: 1;
                    transform: scale(1);

                }
            }

            
            @media (max-width: 400px) {
                margin: .8em 0;
                font-size: .8em;
            }
            
          }
    }

    fieldset.contact-form-follow-up {

        label[for="contact-form-follow-up__phone"] {
            margin-top: .4em;
        }


        .contact-form-follow-up-input {
            max-height: 0;
            padding: 0 0;
            transition: 300ms max-height ease-in-out;
            overflow: hidden;

            &.is-visible {
                max-height: 100px;
                // display: block;
            }

            input[type="text"] {
                margin: .4em 0;
            }
        }
    }

    .contact-form__modal-wrapper {
        width: 100%;
        position: relative;
    }

    .contact-form__modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid #2e3333;

        animation: fadeIn 300ms;
        // top: -100px;    

        p , a {
            color: inherit;
        }

        .contact-form__modal__copy {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            justify-content: center;
            // margin-top: 1em;
            padding: 0 1em;

            p:last-child {
                padding-bottom: 4em;
            }
        }

        .contact-form__modal__return {
            // margin-top: auto;
            // position: absolute;
            // bottom: 0;
            align-self: flex-start;
            justify-self: flex-start;
            padding: 1em;
        }

        a:hover {
            color: $color-primary-orange;
        }
    }


    @keyframes fadeIn {
        from {
            opacity: 0;
            // height: 0;
        }
        to {
            opacity: 1;
            // height: 100%;
        }
    } 

  
}

.contact-form-events {

    &-h4 {
        font-family: $font-family-copy;
        font-size: 1.6em;
        color: #000;
        letter-spacing: initial;
        padding: .4em 0;
        text-align: center;
        margin: auto;
    }

    .contact-form__body {
		border: 3px solid $color-gray;
		border-top: 0px solid $color-primary-orange;
    }
    
    select {
        padding: .5em;
        width: 100%;
        font-family: inherit;
        border-radius: 0;

        &:focus {
            outline: 3px solid #d94d00;
        }
    }
}