
footer {
    display: block;
    width: 100%;
    text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.8))), url('../../images/footer-bk-2.jpg');
	background-image: -o-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../../images/footer-bk-2.jpg');
	background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('../../images/footer-bk-2.jpg');
	background-size: cover;
	background-position: center center;
	background-color: #2c3b44;
	padding-bottom: 50px;
	font-family: 'Knockout HTF 30'; 
	font-size: 16px;
	& h6.footer-copy  {
		letter-spacing: 4px;
		color: #fff;
		margin-top: 60px;
		& a {
			color: #fff;
			&:hover {
				color: #d94c00;
			}
		}
	}
	& p {
		font-family: 'Knockout HTF 30';
		font-size:15px;
		letter-spacing: 1px; 
		padding: .4em 0;
	}
	
	a {
		color: #fff;
	}

	
    
    .social-media a {
        color: #fff;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
            color: #d94c00;
        }
	}
	
	.copyright {
		// line-height: 1.2em;

		&__symbol {
			// font-size: 1.2em;

		}
	}
}

// .footer section-title.footer-title {
// 	color: #fff;
// 	font-size: 20px;
// }




// .footer 
// }