@import '../variables';

.form-subscribe__wrapper {
    background-color: $color-primary-orange;
}

#form-subscribe {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: .4em 8em;
    font-size: 1rem;
    // margin: 2em 0;
    // transition: height 500ms;

    @media (max-width: 560px) {
        padding: .4em 1em;
        height: auto;
    }

    .form-subscribe__fields {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .8em 0 .4em;

        @media (max-width: 560px) {
            flex-wrap: wrap;
        }
    }

    input {
        padding: .2em;
        // width: 100%;
        max-width: 28em;
        font-family: inherit;
        font-size: 1em;
        margin: 0 2em 0 1em;
    }


    button {
        -webkit-appearance: none;
        resize: none;
        font-size: 1em;
        border: 1px solid #aaa;
        background-color: #fff;

        // margin: 1em 0;
        padding: .3em 1em;
        align-self: center;
        cursor: pointer;
        font-family: 'Montserrat', 'Gotham SSm B';

        &:hover {
            background-color: #dedede;
        }
    }

    .form-subscribe__button-wrapper {
        @media (max-width: 560px) {
            flex: 0 0 100%;
            padding-top: 1em;
        }
    }


    &.failed {
        // failed subscribe animation
        animation: shake 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 3;
    }
}

.post-meta {
    display: flex;

    .post-meta__content {
        width: 100%;
    }

    .post-meta__form {
        text-align: center;
        // margin-bottom: 2em;
    }
}


@keyframes shake {
    0%  {
        transform: translateX(-1px);
    }
    10%  {
        transform: translateX(-4px);
    }
    20%  {
        transform: translateX(-6px);
    }
    30%  {
        transform: translateX(-4px);
    }
    40%  {
        transform: translateX(-1px);
    }
    50%  {
        transform: translateX(1px);
    }
    60%  {
        transform: translateX(4px);
    }
    70%  {
        transform: translateX(6px);
    }
    80%  {
        transform: translateX(4px);
    }
    90%  {
        transform: translateX(1px);
    }
    100%  {
        transform: translateX(0px);
    }
}