@import '../variables';


header {
    position: relative;
    height: 200px;
    background: white;
    text-align: center;
    margin-bottom: 1em;
    padding-top: 3em;
  }
  header #cd-logo {
    margin-bottom: 3em;
  }
  header h1 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  @media only screen and (min-width: 768px) {
    header {
      margin-bottom: 4em;
    }
  }
  @media only screen and (min-width: 900px) {
    header {
      height: 400px;
      padding-top: 11em;
    }
    header #cd-logo {
      position: absolute;
      top: 40px;
      left: 5%;
    }
    header h1 {
      font-size: 40px;
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
  

  #logo {
    position: fixed;
    top:20px;
    width: 200px;
  
    left: 100px;
    z-index: 10;
    @media (max-width:800px) {
        left:50%;
        width: 150px;
        margin-left: -75px;
    }
    
  }
  
  #logo-flow {
      z-index: 10;
      width: 230px;
      padding: 20px 15px 15px 15px;
      margin-left: 80px;
      @media (max-width:800px) {
            margin: 0 auto;
            margin-left: 1em;
            
    }
}
   



  #cd-nav ul {
    /* mobile first */
    position: fixed;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 20px;
    border-radius: 0.25em;
    -webkit-box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
            box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    background: white;
    visibility: hidden;
    /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
    overflow: hidden;
    z-index: 6;
    /* Force Hardware Acceleration in WebKit */
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
    // -webkit-transform: scale(0);
    // -moz-transform: scale(0);
    // -ms-transform: scale(0);
    // -o-transform: scale(0);
    // transform: scale(0);
    // -webkit-transform-origin: 100% 100%;
    // -moz-transform-origin: 100% 100%;
    // -ms-transform-origin: 100% 100%;
    // -o-transform-origin: 100% 100%;
    // transform-origin: 100% 100%;
    // -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    // -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    // transition: transform 0.3s, visibility 0s 0.3s;
  }
  #cd-nav ul li {
    /* Force Hardware Acceleration in WebKit */
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
  }
  #cd-nav ul.is-visible {
    // visibility: visible;
    // -webkit-transform: scale(1);
    // -moz-transform: scale(1);
    // -ms-transform: scale(1);
    // -o-transform: scale(1);
    // transform: scale(1);
    // -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    // -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    // transition: transform 0.3s, visibility 0s 0s;
  }
  #cd-nav ul.is-visible li:nth-child(1) {
    /* list items animation */
    // -webkit-animation: cd-slide-in 0.2s;
    // -moz-animation: cd-slide-in 0.2s;
    // animation: cd-slide-in 0.2s;
  }
  // #cd-nav ul.is-visible li:nth-child(2) {
  //   -webkit-animation: cd-slide-in 0.3s;
  //   -moz-animation: cd-slide-in 0.3s;
  //   animation: cd-slide-in 0.3s;
  // }
  // #cd-nav ul.is-visible li:nth-child(3) {
  //   -webkit-animation: cd-slide-in 0.4s;
  //   -moz-animation: cd-slide-in 0.4s;
  //   animation: cd-slide-in 0.4s;
  // }
  // #cd-nav ul.is-visible li:nth-child(4) {
  //   -webkit-animation: cd-slide-in 0.5s;
  //   -moz-animation: cd-slide-in 0.5s;
  //   animation: cd-slide-in 0.5s;
  // }
  // #cd-nav ul.is-visible li:nth-child(5) {
  //   -webkit-animation: cd-slide-in 0.6s;
  //   -moz-animation: cd-slide-in 0.6s;
  //   animation: cd-slide-in 0.6s;
  // }
  #cd-nav li {
      &.interior-nav a {
          color: #333333;
      }
      
      & a {
          display: block;
          padding: 1.6em;
          border-bottom: 1px solid #eff2f6;
  }
  }
  
  
  
  
  #cd-nav li:last-child a {
    // border-bottom: none;
  }
  @media only screen and (min-width: 900px) {
    #cd-nav ul {
      /* the navigation moves to the top */
      position: absolute;
      width: auto;
      max-width: none;
      bottom: auto;
      top: 15px;
      background: transparent;
      visibility: visible;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0s;
      -o-transition: all 0s;
      transition: all 0s;
    }
    #cd-nav li {
      display: inline-block;
    }
    #cd-nav li a {
      z-index: 6;
      opacity: 1;
      padding: .4em 1em;
      margin-left: 1.6em;
      border-bottom: 1px solid rgba(217, 77, 0, 0);
  /* 	border-width: 15px; */
      color: #fff;
      font-family: 'Montserrat', 'Gotham SSm B'; 
      font-weight: 400; 
      font-style: normal;
      font-size: 14px;
      -webkit-transition: border .5s ease; 
      -o-transition: border .5s ease; 
      transition: border .5s ease;
  
    }
    
  
    
    #cd-nav li a:hover {
  /*     background-color: #d94d00; */
      border-bottom: 4px solid #d94d00;
    }
    
  /*
    body {
      &.get-the-skinny-page #cd-nav .skinny-nav-item a{
          border-bottom: 2px solid #d94d00;
          &:hover {
              border-bottom: 4px solid #d94d00;
          }
      }
      &.catalog-page #cd-nav .catalog-nav-item a{
          border-bottom: 2px solid #d94d00;
          &:hover {
              border-bottom: 4px solid #d94d00;
          }
      }
      &.try-us-on-page #cd-nav .background-nav-item a{
          border-bottom: 2px solid #d94d00;
          &:hover {
              border-bottom: 4px solid #d94d00;
          }
      }
  }
  */
  
    #cd-nav.is-fixed ul {
      /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
      position: fixed;
      width: 90%;
      max-width: 400px;
      bottom: 20px;
      top: auto;
      background: white;
      visibility: hidden;
      -webkit-box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
              box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    #cd-nav.is-fixed ul li {
      display: block;
    }
    #cd-nav.is-fixed ul li a {
      padding: 1.6em;
      margin-left: 0;
      border-bottom: 1px solid #eff2f6;
    }
    #cd-nav ul.has-transitions {
      /* this class is used to bring back transitions when the navigation moves at the bottom right */
      -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
      -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.3s;
      transition: visibility 0s 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, visibility 0s 0.3s, -webkit-transform 0.3s;
    }
    #cd-nav ul.is-visible {
      /* this class is used to bring back the navigation animation - as on touch devices */
      visibility: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
      -webkit-transition: visibility 0s 0s, -webkit-transform 0.3s;
      transition: visibility 0s 0s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, visibility 0s 0s;
      transition: transform 0.3s, visibility 0s 0s;
      transition: transform 0.3s, visibility 0s 0s, -webkit-transform 0.3s;
    }
    #cd-nav ul.is-hidden {
      /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
    }
  }
  
  .cd-nav-trigger {
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 0.25em;
    -webkit-box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
            box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 10;
  }
  .cd-nav-trigger span {
    /* the span element is used to create the menu icon */
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #e84a64;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
  }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    content: '';
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, background 0s;
    -webkit-transition: background 0s, -webkit-transform 0.3s;
    transition: background 0s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, background 0s;
    transition: transform 0.3s, background 0s;
    transition: transform 0.3s, background 0s, -webkit-transform 0.3s;
  }
  .cd-nav-trigger span::before {
    top: -6px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .cd-nav-trigger span::after {
    bottom: -6px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .cd-nav-trigger.menu-is-open {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .cd-nav-trigger.menu-is-open span {
    background: rgba(232, 74, 100, 0);
  }
  .cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
    background: #e84a64;
  }
  .cd-nav-trigger.menu-is-open span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .cd-nav-trigger.menu-is-open span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  @media only screen and (min-width: 900px) {
    .cd-nav-trigger {
      /* the the menu triger is hidden by default on desktop devices */
      visibility: hidden;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
      -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.3s;
      transition: visibility 0s 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, visibility 0s 0.3s, -webkit-transform 0.3s;
    }
    .is-fixed .cd-nav-trigger {
      visibility: visible;
      -webkit-transition: all 0s;
      -o-transition: all 0s;
      transition: all 0s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-animation: cd-bounce-in 0.3s linear;
      animation: cd-bounce-in 0.3s linear;
    }
  }
  
  #cd-gallery-items li {
    margin-bottom: 1.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
  }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
  }
  @media only screen and (min-width: 768px) {
    #cd-gallery-items li {
      width: 48%;
      float: left;
      margin-bottom: 2em;
      margin-right: 4%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 900px) {
    #cd-gallery-items li {
      width: 31%;
      float: left;
      margin-bottom: 2.5em;
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  @-webkit-keyframes cd-slide-in {
    0% {
      -webkit-transform: translateX(100px);
    }
  
    100% {
      -webkit-transform: translateY(0);
    }
  }
  @keyframes cd-slide-in {
    0% {
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes cd-bounce-in {
    0% {
      -webkit-transform: scale(0);
    }
  
    60% {
      -webkit-transform: scale(1.2);
    }
  
    100% {
      -webkit-transform: scale(1);
    }
  }
  @keyframes cd-bounce-in {
    0% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
  
    60% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  

.cd-nav-mobile {
    display: none;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    right: 1.2em;
    top: 1em;
  
  i {
    font-size: 1.9em;
    color: #000;
  }

  &.close {
    i {
      color: #fff;
    }
  }

  @media only screen and (max-width: 900px) {
    display: block;
  }
}


// 2018 REFACTOR
.nav-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  z-index: 100; 

  &.light {
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(50%, rgba(0, 0, 0, 0.25)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);

    &:after {
      content: initial;
    }

    #cd-nav {
      li {
        a {
          color: #fff;
        }
      }
    }
    .cd-nav-mobile {
      i {
        color: #fff;
      }
    }
  }

  &.dark {
    #cd-nav {
      li {
        a {
          color: #333;
        }
      }
    }
  }
}

body.about .nav-wrapper {
  background-color: #D94C00;
}

body.home .triangle, body.contact .triangle {
  display: none;
}

body.about .triangle svg #Get-the-Skinny {
  fill: #d64b00;
  opacity: 1;
}
  

.site-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  // right: -100%;
  right: 0;
  width: 0;
  width: 16em;
  height: 100%;
  background-color: #2e3333; //$color-primary-orange;
  z-index: 1000;
  white-space: pre;
  overflow: hidden;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);

  // transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 500ms right;
  -webkit-transition: 500ms -webkit-transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: 500ms -webkit-transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: 500ms transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: 500ms transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: 500ms transform cubic-bezier(0.455, 0.03, 0.515, 0.955), 500ms -webkit-transform cubic-bezier(0.455, 0.03, 0.515, 0.955);


  &.is-visible {
    // right: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 0 2px rgba(0, 0, 0, 0.08);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 0 2px rgba(0, 0, 0, 0.08);
  }

  .cd-nav-mobile {
    position: relative;
    top: initial;
    right: initial;
    color: #fff;
    padding: .4em 1em;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  ul {
    width: 100%;
    padding: .6em 2em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

    li {
      margin: .6em 0;
    }

    a {
      color: #fff;
      -webkit-transition: border-width 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: border-width 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: border-width 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

      &:hover {
        border-bottom: 4px solid #000;
      }
    }
  }

  .logo-tie {
    width: 36px;
    margin: 2em;
  }
}