@import url("./foundation/foundation.min.css");
@import './variables';
// @CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
html, body {
	background-color: $color-primary-orange;
	z-index: -1; //this allows the color to work and the fixed images
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
button {
	outline: 0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#ffffff;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

h2.warning {
	color: red;
	position: absolute;
	top:0;
	text-align: center;
	background-color: #fff;
	display: block;
	width: 100%;
	padding: 30px;
}




* {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased;
}







/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Gotham SSm A', 'Gotham SSm B'; 
	color: #fff;
	color: rgba(0,0,0,0.5);
}

p{
	font-family: 'Gotham SSm A', 'Gotham SSm B'; 
	font-weight: 400; 
	font-style: normal;
	font-size: 16px;
	padding: 10px 30px;
	color: #fff;
}

.center {
	text-align: center;
}

.section{
	text-align:center;
}

.pad {
	padding:20px;
}



#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		/*background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
   		opacity: .5;
   		@media (max-width: 900px ) {
   			display: none;
	}

	}
	
#section0 {
	@media (max-width:900px) {
    // background: url('../images/intro-bk.jpg');
	}
}



	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:40px 0 0 0;
		@media (max-width:900px) {
			font-size:2em;
		}
	}
	
		h2{
		font-size: 3em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:40px 0 0 0;
		@media (max-width:900px) {
			font-size:2em;
		}
	}
	.intro p{
		color: #fff;
		padding:40px 0 0 0;
	}
	
	p {
		color: white;
		font-size: 1em;
		@media (max-width:650px) {
			font-size:.9em;
		}
	}
	
	
	.wrap{
		margin-left: auto;
		margin-right: auto;
		width: 980px;
		position: relative;
		padding: 20px 0 20px 0;
	}
	.wrap h1{
		font-size: 2.3em;
		color: #333;
		padding: 30px 0 10px  0;
	}
	.wrap p{
		font-size: 16px;
		padding:  0 0 10px 0;
	}
	.box{
		display: block;
		background: #f2f2f2;
		border:1px solid #ccc;
		padding: 20px;
		margin:20px 0;
	}



	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
		overflow: hidden;
	}
	
	#section0 .layer, #section1 .layer, #section2 .layer, #section3 .layer, #section4 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
		height: 100%;

	}
	
	#section2 .testimonial-intro {
		top: 20%;
	}
	
		/* Custom Section Styles
	* --------------------------------------- */



.next-btn a{
	color: white;
	list-style: none;
	text-decoration: none;
	font-size: 1.5em;
	background-color: rgba(8, 8, 8, 0.59);
	border-radius: 8px;
	padding: 20px 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 50px;

	&:hover {
		background-color: rgba(8, 8, 8, 0.99);
	}
}

.next-btn {
	list-style: none;
}

.arrow {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-image: url('../images/arrow_white_arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 27px auto;
	margin: -10px;
	cursor: pointer;
	z-index: 5;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border: solid rgba(255, 255, 255, 0.6) 3px;
	&.orange-tie {
		background-image: url('../images/arrow_orange_tie.png');
	}
	&.white-arrow {
		background-image: url('../images/arrow_white_arrow.png');
	}
	
	
	&:hover {
		border: solid rgba(255, 255, 255, 0) 3px;
		background-image: url('../images/arrow_tie.png');
		background-color: #d94d00;
	}
}


.arrow.down {
	left: 49%;
	bottom: 40px;
	@media (max-width: 650px ) {
		display: none;
	}
}




.section  .btn {
	margin-top: 30px;
	& a{
		color: #fff;
		border: 3px solid white;
		padding: 13px 20px;
		font-size: 13px;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 2px;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.5s ease;
		&:hover {
			color:#000;
			background-color: rgba(255, 255, 255, 1);
		}
		}
		
}



a {
   outline: 0;
}







.home-buttons {
	position: absolute;
	display: block;
	margin: 0 auto;
	z-index: 5;
	left: 47.25%;
	bottom: 150px;
}

.services-img {
	margin-top: 30px;
	@media (max-width:500px){
		display: none;
	}
}

.services-txt {
	display: none;
	@media (max-width:500px){
		display: inline;
	}
}

.services-sub-head {
	@media (max-width:500px) {
		display: none;
	}
}

.services-title {
	font-family: 'Knockout 27 A', 'Knockout 27 B';
	font-weight: 400; 
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	letter-spacing: 2px;

}

.title {
	font-family: 'Knockout 27 A', 'Knockout 27 B';
	font-weight: 400; 
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 120px;

}


.section .layer .title {
	padding: 0 0 50px 0;
	margin-bottom: 240px;
	line-height: 90px;
	@media (max-width:1140px){
		font-size: 100px;
		letter-spacing: 8px;
		line-height: 100px;
	}
	@media (max-width:700px){
		font-size: 68px;
		letter-spacing: 2px;
		line-height: 60px;
	}
	@media (max-width:400px){
		font-size: 48px;
		letter-spacing: 2px;
		line-height: 40px;
	}

}


.section-title {
	color: #d94c00;
	font-family: 'Knockout 30 A', 'Knockout 30 B'; 
	font-weight: 400; 
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 70px;
	margin-bottom: 20px;
	line-height: 60px;
	padding: 40px 20px 0 20px;
	
	&.title-white {
		color: #ffffff;
	}
	@media (max-width:400px) {
		letter-spacing: 0px;
		font-size: 45px;
		line-height: 45px;
	}

	@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) { 
		padding: 0;
		margin-top: -2em;

	}

	@media only screen 
	and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3) { 
		// padding: 0;
		margin-top: -3em;

	}

	@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
		// padding: 0;
		margin-top: -3em;
	}

	@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
		margin-top: -3em;
		// padding-top: 0;
		// display: inline;
	}

	@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
		// padding: 0;
		margin-top: -3em;

	 }
	
}

.interior-title {
	color: #000000;
	font-family: 'Knockout 26 A', 'Knockout 26 B'; 	font-weight: 400; 
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 60px;
	line-height: 60px;
	padding: 20px 20px 20px 20px;
	&.large-title {
		font-size: 72px;
		line-height: 72px;
	}
	
	&.title-white {
		color: #ffffff;
	}
	@media (max-width:400px) {
		letter-spacing: 0px;
		font-size: 45px;
		line-height: 45px;
	}
	
}


body {
	background-color: #fff;
}


.img-marg-thumb {
	margin-top: 100px;
	@media screen and (max-width:1024px){
		margin-top: 0;
	}
}

div.telly {
	
	width: 84px;
	height: 76px;
	float: right;
	@media screen and (max-width:400px){
		margin-top: 40px;
	}
	&.bronze {
		margin-left: 30px;
	}

	&.silver-bronze {
		width: 172px;
		height: 73px;
		margin: 0 0 10px 20px;
	}
}


.disclaimer {
	text-align: center;
	font-size: 12px;
	padding-bottom: 20px;
}


.nav-block {
	height: 100px;
	width: 100%;
	position: absolute;
	top:0;
	background-color:#000000;
	z-index: 5;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(50%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */




	@media (max-width:900px) {
		display: none;
	}
}


#logo {
  position: fixed;
  top:20px;
  width: 200px;

  left: 100px;
  z-index: 10;
  @media (max-width:800px) {
  	left:50%;
  	width: 150px;
  	margin-left: -75px;
  }
  
}

#logo-flow {
	z-index: 10;
	width: 230px;
	padding: 20px 15px 15px 15px;
	margin-left: 80px;
	position: relative;

	@media (max-width:800px) {
		  margin: 0 auto;
		  margin-left: 1em;	
  }
  @media (max-width:400px) {
	margin: 0 auto;
	margin-left: .2em;	
}
}
 

.small-none {
	@media (max-width:600px) {
		display: none;
	}
}


.marg-top-med {
	padding-top:0;
}  


.social-media a {
	color: #000;
	padding-top: 0;
	&:hover {
		color: #d94c00;
	}
}

.no-style {
	list-style: none;
}

.section-wrapper, .footer-content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	z-index: 1;

	.section-title, .btn {
		z-index: 1;
	}
}

.social-links {
	// position: absolute;
	bottom:0px;
	left:0;
	right:0;
	margin: 0 auto;
	margin-top: auto;

	.hi-icon-wrap {
		@media (max-height: 820px) {
			padding: 1em 0 2em;
		}

		@media (max-height: 780px) {
			padding: 1em 0 .4em;
		}

		// @media (max-height: 720px) {
		// 	display: none;
		// }
	}
	
}


/*
#section3 .footer-content-wrapper {
	position: absolute;
	bottom:60%;
	left:0;
	right:0;
	margin: 0 auto;

}
*/



.testimonial-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	z-index: 1;
	@media (max-width: 900px ) {
		width: 600px;	
	}
	@media (max-width: 630px ) {
	width: 400px;	
	}
	@media (max-width: 450px ) {
	width: 320px;	
	}
}

.section-wrapper .testimonial-sub-head {
	@media (max-width:600px) {
		display: none;
	}
}



.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 25px 25px 25px 0;
	border-color: transparent rgba(255, 255, 255, 0.75) transparent transparent;
}
.fp-controlArrow.fp-next {
	right: 15px;
	border-width: 25px 0 25px 20px;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
}

.testimonial-slider {
	margin: 0 auto;
	max-width: 900px;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0.15);
	color: #fff;

	& > div {
		padding-top: 30px;
		padding-bottom: 30px;
		@media (max-width:630px){
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
	}
	@media (max-width:450px){
		display: none;
	}
	& p {
		margin-bottom: 20px;
		@media (max-width:600px) {
			margin-bottom: 5px;
		}
	}
}




.testimonial-slider-ties {
	margin: 0 auto;
	max-width: 900px;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0.15);
	& > div {
		padding-top: 20px;
		padding-bottom: 20px;
		@media (max-width:630px){
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
	}
}

.testimonial-slider div br, .testimonial-slider-ties div br {
	display: block;
	@media (max-width:700px) {
	display: none;
	}
}




.slick-prev:before, .slick-next:before {

	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.wrapper.skinny {
	// margin: 70px 0 90px 0;
	& p {
		font-size: .9em;
		color: #4A4A4A;
	}
	& .quote {
		border-top: 2px solid #858d8e;
		border-bottom: 2px solid #858d8e;
		& p {
			color: #d94d00;
			line-height: 33px;
			font-size: 24px;
			padding: 20px 10px 10px 0px;
	}
	}
	& .quote ul {
		padding-left:30px;
	}
	& li {
			color: #7c7c7c;
			line-height: 20px;
			font-size: 15px;
			padding: 0 10px 20px 0px;
			list-style-type:square;
			
			&:last-child {
			padding-bottom: 20px;
		}
		}
		
		
	& .skinny-copy p:first-child {
		padding-top:0;
	}
}



.wrapper.catalog {
	padding: 50px 0 50px 0;
	background-color: #4B4842;
	& p {
		font-size: .9em;
		color: #ffffff;
	}
	
}

.wrapper.background {
	padding: 50px 0 50px 0;
	padding-top: 18em;
	background-color: #131313;

	.wrapper-staff-member-featured {
		display: flex;
		padding: 0 2em;

		@media (max-width: 600px) {
			flex-direction: column;
		}


	.staff-member-featured {
		& .staff-name  {
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			padding: 9px 18px;
			background-color: #2E2E2E;
			margin-bottom: 15px;
			font-family: 'Knockout 30 A', 'Knockout 30 B'; 
			font-weight: 400; 
			font-style: normal;
			letter-spacing: 2px;
			z-index: 2;
			&.nathan-name {
				@media (max-width:1024px){
					// margin-top: 20px;
				}
			}
			&.nathan-name::after {
				position: absolute;
				background-color: #2E2E2E;
				content: "";
				right:18px;
				top:-9px;
				width: 18px;
				height: 18px;
				-ms-transform: rotate(45deg); /* IE 9 */
				-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				transform: rotate(45deg);
				z-index: 0;
				@media (max-width:1024px){
					display: none;
				}
			}
			&.jamie-name::after {
				position: absolute;
				background-color: #2E2E2E;
				content: "";
				left:18px;
				top:-9px;
				width: 18px;
				height: 18px;
				-ms-transform: rotate(45deg); /* IE 9 */
				-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				transform: rotate(45deg);
				z-index: 0;
				@media (max-width:1024px){
					display: none;
				}
			}
		}

		@media (max-width: 600px) {
			
			&:not(:last-child) {
				margin-bottom: 3em; 
			}
		}
	}
}
	
	
	& p {
		font-size: .9em;
		color: #ffffff;
		padding: 0;
	}
	& .nathan-bio {
		text-align: right;
		padding-left: 2em;
		margin-top: 1em;
		

		@media (max-width:1024px){
			// text-align: left;
			// margin-top: 30px;
		}

		@media (max-width: 600px) {
			text-align: left;
			padding-left: 0; 
			// padding-right: 2em;
		}

		p {
			text-align: justify;
			// hyphens: auto;
		}
	}
	& .jamie-bio {
		// hyphens: auto;
		padding-left: 0;
		text-align: justify;

		padding-right: 2em;
		margin-top: 1em;

		@media (max-width:1024px){
			// padding-left: 0.9375em;
			}
		@media (max-width: 600px) {
			padding-right: 0; 
		}
	}
	& .collage {
		margin-top: 50px;
		& .gatsby-image-wrapper {
			// width: 100%;
			max-width: 46em;
			margin: auto;
		}
		
	}
	
}




.wrapper.featured-video {
	padding: 30px 10px 30px 10px;
	background-image: url('../images/blur-featured-video-bk.jpg');
	background-size: cover;
	background-position: center top;
	min-height:50px;
	background-color: #252c31;
	background-attachment: fixed;
	@media (max-width:400px){
		background-attachment: inherit;
	}
	& p {
		padding: 0;
		font-size: 14px;
	}
	& h3 {
		font-family: 'Knockout 90 A', 'Knockout 90 B'; 
		font-weight: 400; 
		font-style: normal;
		color: #fff;
		font-size: 30px;
		letter-spacing: 1px;
		line-height: 1.1;
    	margin: .2em 0;
		
	}

	

	& .featured-tag {
		padding: 10px 0 0 0;
		@media (max-width:1024px){
			display: none;
		}
	}
	& .vimeo-link{
		margin-top: 20px;
		text-transform: uppercase;
	}
	& .vimeo-link a {
		
		padding: 10px 13px 10px 13px;
		color: #fff;
		background-color: #3e3e3e;
		border-radius: 25px;
		font-family: 'Gotham SSm A', 'Gotham SSm B'; 
		font-weight: 700; 
		font-style: normal;
		font-size: 10px;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		float: left;
		&:hover {
			color: #fff;
			background-color: #d94d00;
			border-radius: 2px;
		}
	}
}



.wrapper.catalog-videos {
	background-color: #fff;
	padding: 50px 0 0 0;
		& h3 {
		font-family: 'Knockout 90 A', 'Knockout 90 B'; 
		font-weight: 400; 
		font-style: normal;
		color: #4A4A4A;
		font-size: 30px;
		letter-spacing: 1px;
		line-height: 1.1;
    	margin: .2em 0;
	}
		& p {
		padding: 0 0 20px 0;
		color: #4A4A4A;
	}

	.row {
		max-width: initial;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	& .flex-video {
		padding-bottom: 28%;
		@media (max-width:1024px) {
			padding-bottom: 56%;
		}
	}
	& .video-description {
		font-size: 14px;
	}
	& .video-wrapper {
		max-width: 62.5em;
		padding-bottom: 3em;
		padding-top: 3em;
		display: flex;
		align-items: center;

		&.right {
			flex-direction: row-reverse;

			@media (max-width: 500px) {
				flex-direction: column;
			}
		}


		& .thumb.right {
			// float: right;
			// align-self: auto;
		}
		
		&:last-child {
			border-bottom: none;
		}

		@media (max-width: 600px) {
			flex-direction: column;
		}


		& .gallery {
			padding: 0;
		}

		&:not(:first-child) {
			border-top: 1px solid #acacac;
		}
		
		// & + .row-featured-inline {
		// 	border: pink;
		// }
	}
	& .vimeo-link a {
		text-transform: uppercase;
		padding: 10px 13px 10px 13px;
		color: #fff;
		background-color: #3e3e3e;
		border-radius: 25px;
		font-family: 'Gotham SSm A', 'Gotham SSm B'; 
		font-weight: 700; 
		font-style: normal;
		font-size: 10px;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		&:hover {
			color: #fff;
			background-color: #d94d00;
			border-radius: 2px;
		}
	}
	& .video-right .flex-video {
		@media (max-width:1024px){
			margin-top: 30px;
		}
	}
}







.header-wrapper {
	background-repeat: no-repeat;
    background-attachment: fixed;
    @media (max-width:400px) {
	    background-attachment: inherit;
    }
	&.skinny-header {
		background-image: url('../images/hat.jpg');
		background-size: cover;
		background-position: center top;
		height:680px;
	}
	&.catalog-header {
		background-image: url('../images/catalog-header.jpg');
		background-size: cover;
		background-position: center top;
		height:680px;
	}
	&.background-header {
		background-image: url('../images/about-header.jpg');
		background-size: cover;
		background-position: center top;
		background-attachment:inherit;
		background-color: #E5DCD3;
		height:800px;
		@media (min-width:2000px) {
			// background-image: url('../images/about-header-large.jpg');
		}
	}

}


.nav-wrapper:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  height: 0;
  padding-bottom: 4.480135%;
  background-image: url('../images/triangle.svg');
  background-size: contain;
  background-position: center top -1px;
  background-repeat: no-repeat;
}


img.tapes {
	width: 100%;
	margin:0 auto;
}


.row a {
	color: #d94d00;
	&:hover {
		color: #d94c00;
	}
}

.pad-none {
	padding: 0;
}

.pad-top-none {
	padding-top: none;
}




.pointer {
    margin-left:-10px;
    margin-top:-10px;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color:#F00;
    position:fixed;
}







	/* Backgrounds will cover all the section
	* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#contact {
	background-size: cover;
	background-position: center top;

	.gatsby-image-wrapper {
		position: static !important;

		// img {
		// 	z-index: -1; // not sure why I need this, but otherwise it won't show form stuff
		// }
	}

	form {
		z-index: 1;
	}

	@media (max-width: 640px) {
		padding: 0 .8em;
	}

	.text-background-black {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.2);
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
}

#section0 {
	// background-image: url('../images/nathan-jamie-ties-1-small.jpg');
	background-color: #20313d;
	// 	@media (min-width:500px){
	// 		background-image: url('../images/nathan-jamie-ties-1.jpg');
	// }
	// 	@media (min-width:1500px){
	// 		background-image: url('../images/nathan-jamie-ties-1-large.jpg');
	// }

	img {
		// position: static !important;
		// position: absolute;
		// top: 0px;
		// left: 0px;
		// width: 100%;
		// height: 100%;
		// object-fit: cover;
		// object-position: center center;
		// opacity: 1;
		// transition: opacity 0.5s ease 0s;
	}


}

#section #section1, #section2, #section3 {
	// img {
	// 	position: absolute;
	// 	top: 0px;
	// 	left: 0px;
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// 	object-position: center center;
	// }
}


#section1 {
	// background-image: url('../images/services-bk.jpg');

	img {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}


	background-color: #20313d;
	@media (min-width:1500px){
		// background-image: url('../images/services-bk-large.jpg');
	}
}
#section2 {
	// background-image: url('../images/testimonials-bk-1.jpg');
	background-color: #20313d;
	@media (min-width:1500px){
		// background-image: url('../images/testimonials-bk-1-large.jpg');
	}
}

#section3 {
	// background-image: url('../images/footer-bk-1-small.jpg');
	background-color: #20313d;
	@media (min-width:500px){
		// background-image: url(../images/footer-bk-1.jpg);
	}
	@media (min-width:1500px){
		// background-image: url(../images/footer-bk-1-large.jpg);
	}
}

#section4 {
	.footer-content-wrapper {
		max-width: 86em;
		width: 90%;
	}
}

#contact {
	.section-title {
		padding-top: 2em;

		// HEIGHT
		@media (max-height: 820px) and (min-width: 376px) {
			padding-top: 1em;
		}
		@media (max-height: 820px) {
			// padding-top: .2em;
			// font-size: 60px;

		}
	

		@media (max-height: 770px) and (min-width: 425px) {
			// padding-top: 1em;
			font-size: 50px;
		}

		// WIDTH
		// @media (min-width: px) {
		// 	// padding-top: 1em;
		// 	// margin-bottom: .2em;
		// }
		font-size: 40px;

		@media (max-width: 375px) and (max-height: 628px) {
			padding-top: 1em;
		}

		@media (max-width: 610px) {
			font-size: 28px;
			line-height: 28px;
		}
		@media (min-width: 610px) and (max-height: 640px) {
			font-size: 28px;
			line-height: 28px;
		}


		@media (min-width: 768px) and (min-height: 771px) {
			// padding-top: 1em;
			font-size: 70px;
			// margin-bottom: .2em;
		}
		
	}

	.section-banner {
		justify-content: flex-start;
		padding-top: 3em;
	}
}


.slick-slide img { max-width: 100% !important;  }

@import url("./nav.css");
@import url('./social-media-icons.css');
@import url('./animate.css');


// 2018 REFRESH

.drk {
	color: #282828 !important;
}

body.disable-scroll {
	overflow: hidden;
}

.iframe-wrapper {
	position: relative;
	 padding-bottom: 56.25%;

	 iframe {
		width: 100%; 
		height: 100%; 
		position: absolute; 
		border: 0;
	 }
}




.site-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.fullpage-viewport {
	height: 100vh;
	overflow: hidden;

	&.enable-scroll {
		height: initial;
		overflow: auto;
	}

	.fullpage-wrapper {

		height: 100%;
		position: relative;
		touch-action: none;
		// transform: translate3d(0px, 0px, 0px);
		transition: all 600ms ease 0s;
	
	
		.index-slide {
			position: relative;
			width: 100vw;
			height: 100vh;


			.section-banner {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.section-title {

				@media (max-width: 980px) {
					font-size: 50px;
					line-height: 50px;
				}

				@media (max-width: 720px) {
					font-size: 40px;
					line-height: 40px;
				}

				@media (max-width: 610px) {
					font-size: 28px;
					line-height: 28px;
				}
				
				
			}

			.no-break {
				display: block;
				white-space: pre;

				@media (max-width: 374px) {
					display: inline;
					white-space: initial;
				}
			}
		}
	}
}



.content-featured-image-fixed {
	position: fixed;
	top: 0;
	background-size: cover;
	background-position: center top;
	height: 680px;
	width: 100%;
	z-index: -1;

	background-repeat: no-repeat;
	background-attachment: fixed;

	@media (max-width:400px) {
		background-attachment: inherit;
		position: absolute;

    }


	&.our-approach {
		background-image: url('../images/hat.jpg');
	}

	&.our-work {
		background-image: url('../images/catalog-header.jpg');

	}


	&.spacer {
		position: relative;
		background: none;
	}
}

.catalog-videos {
	.row {
		&.row-featured-inline {
			width: 100%;
			clear: both;
			padding: 3em .9375em;
			border-bottom: 1px solid #acacac;
			border-top: 1px solid #acacac;
			background-color: #efefefef;
			margin:  0;

			.flex-video, .featured-video-description {
				max-width: 62.5em;
			}

			.featured-tag {
				width: 100%;
				max-width: 62.5em;
			}

			& + .video-wrapper {
				border: 0;
			}
		}
	}
}

.content-wrapper {
	background-color: #fff;
	padding: 70px 0 90px 0;

	&.skinny {
		.row {
			display: flex;
			padding: 0 1em;
			align-items: flex-start;

			.quote {
				flex: 1 1 auto;
			}

			&.client-wall {
				padding: 3em 0;
			}

			@media (max-width: 700px) {
				flex-direction: column;
				padding: 0 2em;
			}
		}
	}



	@media (max-width: 700px) {
		.skinny-copy {
			padding: 0 0 2em;
	
			p {
				padding: 1em 0;
			}
		}
	}
}


body.overflow-hidden, html.overflow-hidden {
	overflow: hidden;

	height: 100%;
	width: 100%;
	overflow: auto;

	position: fixed;
	overflow: hidden;
}

body.overflow-hidden {
	// position: static;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;
}

.fullpage-viewport {
	// width: 100vw;
	// height: 100vh;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;
}

// html.overflow-hidden {
// 	height  : 100%;
// 	overflow: hidden;
// }

// body.overflow-hidden {
// 	height  : 100%;
// 		overflow: auto;
// }

// .overflow-hidden {
// 	&html {
// 		height  : 100%;
// 		overflow: hidden;
// 	}
// 	&body {
// 		height  : 100%;
// 		overflow: auto;
// 	}
// }


